name: Collect samples CRON

on:
  schedule:
   - cron: '30 18 * * 1,4' # 18:30 UTC Mon, Thu

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - repo: 'https://github.com/JetBrains/kotlin-web-site'
            filter: '#tag="code" & kotlin-runnable="true" & !validate="false"'
            path: 'src/test/resources/test-compile-data/jvm/kotlin-web-site'
          - repo: 'https://github.com/Kotlin/kotlin-by-example'
            filter: '#tag="code" & class="language-run-kotlin" & !validate="false"'
            path: 'src/test/resources/test-compile-data/jvm/kotlin-by-example'
          - repo: 'https://github.com/kotlin-hands-on/hands-on'
            filter: '#tag="code" & class="language-run-kotlin" & !validate="false"'
            path: 'src/test/resources/test-compile-data/jvm/kotlin-hands-on'
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Run a verifier
        uses: AlexanderPrendota/kotlin-samples-verifier@master
        with:
          io-event: '' #reset default behavior
          repository: '${{ matrix.repo }}'
          verify-branch: 'master'
          push-repository: 'https://github.com/${{github.repository}}'
          tag-filter: '${{ matrix.filter }}'
          push-path: '${{ matrix.path }}'
          username: '${{ secrets.COMPILE_SERVICE_PUSHER }}' #token with an access to create PR in push-repository
